﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Table Soccer Participants</h1>
</div>

<div class="main">
    <div class="tableContainer">

        <div class="table">
            <form action="" method="post">
                <h3>Players:</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th> Name </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var player in Model.Players)
                    {
                        <tr>
                            <td>
                                @player.Name
                            </td>
                            <td>

                                <input type="submit" asp-page-handler="playerDelete" asp-route-id="@player.Id" value=" Delete ">
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <input id="playerNameInput" type="text" name="playerName" placeholder="Player name"/>
                        </td>
                        <td>
                            <input id="addPlayerBt" type="submit" asp-page-handler="player" value=" Add " disabled="disabled">
                            @{
                                // disabling/enabling Add button depending on the completion of the name field
                                <script type="text/javascript">
                                    var newPlayerName = document.getElementById('playerNameInput');
                                    var addPlayerButton = document.getElementById('addPlayerBt');

                                    function checkForDefaultAndSetButton() {
                                        var enabled = newPlayerName.value !== '';
                                        addPlayerButton.disabled = !enabled;
                                    }

                                    newPlayerName.addEventListener("input", checkForDefaultAndSetButton);
                                </script>
                            }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div class="table">
            <form action="" method="post">
                <h3>Teams:</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th> Name </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var team in Model.Teams)
                    {
                        <tr>
                            <td>
                                @{
                                    var displayName = team.Name;
                                    if (displayName != team.MemberNames)
                                    {
                                        displayName += $" ({team.MemberNames})";
                                    }
                                }
                                @displayName
                            </td>
                            <td>
                                <input type="submit" asp-page-handler="teamDelete" asp-route-id="@team.Id" value=" Delete ">
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <input type="text" name="teamName" placeholder="Team name (optional)"/>
                        </td>
                        <td>
                            @Html.DropDownList("First player", new SelectList(Model.Players), "Select A Player", new {@id = "firstDD"})
                            @Html.DropDownList("Second player", new SelectList(Model.Players), "Select A Player", new {@id = "secondDD"})
                            @Html.DropDownList("Third player", new SelectList(Model.Players), "Select A Player", new {@id = "thirdDD"})
                        </td>
                        <td>
                            <input type="submit" id="addTeamBt" asp-page-handler="team" value=" Add " disabled="disabled">
                            @{
                                // disabling/enabling Add button depending on the DropDown current selection
                                <script type="text/javascript">
                                    var firstDD = document.getElementById('firstDD');
                                    var secondDD = document.getElementById('secondDD');
                                    var thirdDD = document.getElementById('thirdDD');
                                    var addTeamButton = document.getElementById('addTeamBt');

                                    function notDefault(dropDown) { return dropDown.value !== ''; }

                                    function checkForDefaultAndSetButton() {
                                        var enabled = notDefault(firstDD) ||
                                            notDefault(secondDD) ||
                                            notDefault(thirdDD);
                                        addTeamButton.disabled = !enabled;
                                    }

                                    firstDD.addEventListener("change", checkForDefaultAndSetButton);
                                    secondDD.addEventListener("change", checkForDefaultAndSetButton);
                                    thirdDD.addEventListener("change", checkForDefaultAndSetButton);
                                </script>
                            }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>