﻿@page
@model TableSoccer.Pages.MatchesModel
@{
    ViewData["Title"] = "Matches";
}

<div class="text-center">
    <h1 class="display-4">Played Matches</h1>
</div>

<div class="main">
    <div class="table">
        <form action="" method="post">
            <table class="table">
                <thead>
                <tr>
                    <th> Home Team </th>
                    <th> Visitor Team </th>
                    <th> Result </th>
                    <th> Date </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var match in Model.Matches)
                {
                    <tr>
                        <td> @match.HomeTeam.Name </td>
                        <td> @match.VisitorTeam.Name </td>
                        <td> @match.HomeScore - @match.VisitorScore</td>
                        <td> @match.Date.ToString("dd/MM/yyyy")</td>
                        <td>
                            <input type="submit" asp-page-handler="matchDelete" asp-route-id="@match.Id" value=" Delete ">
                        </td>
                    </tr>
                }
                <tr>
                    <td> @Html.DropDownList("Home team", new SelectList(Model.Teams), "Home Team", new {@id = "homeTeamDD"}) </td>
                    <td> @Html.DropDownList("Visitor team", new SelectList(Model.Teams), "Visitor Team", new {@id = "visitorsDD"}) </td>
                    <td>
                        <input type="number" class="scoreInput" name="homeScore" placeholder="Home Score" value="0"/> -
                        <input type="number" class="scoreInput" name="visitorScore" placeholder="Visitor Score" value="0"/>
                    </td>
                    <td>
                        <input type="date" name="matchDate" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                    </td>
                    <td>
                        <input id="addMatchButton" type="submit" asp-page-handler="match" value=" Add " disabled="disabled">
                        @{
                            // disabling/enabling Add button depending on the DropDown current selection
                            <script type="text/javascript">
                                var homeDD = document.getElementById('homeTeamDD');
                                var visitorDD = document.getElementById('visitorsDD');
                                var addMatchButton = document.getElementById('addMatchButton');

                                function notDefault(dropDown) {
                                    return dropDown.value !== '';
                                }

                                function checkForDefaultAndSetButton() {
                                    var enabled = notDefault(homeDD) && notDefault(visitorDD);
                                    addMatchButton.disabled = !enabled;
                                }

                                homeDD.addEventListener("change", checkForDefaultAndSetButton);
                                visitorDD.addEventListener("change", checkForDefaultAndSetButton);
                            </script>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>