﻿@page
@model TableSoccer.Pages.MatchMakerModel
@{
    ViewData["Title"] = "Match Maker";
}
<style type="text/css">
    .matchMakerBt {
        margin: 150px;
        width: 100px;
        height: 60px
    }

    .instruction { margin-bottom: 30px; margin-top: 30px }
</style>

<div class="text-center">
    <h1 class="display-4">Match Maker</h1>
</div>

<script>
    function DisableStartButtonIfNoCheckboxIsEnabled() {
        var count = 0;
        var checkboxes = document.querySelectorAll("input[type='checkbox']");
        for (var i = 0; i < checkboxes.length; i++)
            if (checkboxes[i].checked)
                count++;

        document.getElementById("matchMakerBt").disabled = count < 2;
    }
</script>

<div class="main">

    <div class="instruction">The Match Maker is a <b>state-of-the-art tool</b> that, using ultra sophisticated calculations, can combine teams in balanced matches.</div>

    <form action="" method="post">

        <div class="tableContainer">

            <div class="table">
                <h3>Teams:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Include </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model.Teams)
                        {
                            <tr>
                                <td>
                                    @{
                                        var displayName = team.Name;
                                        if (displayName != team.MemberNames)
                                        {
                                            displayName += $" ({team.MemberNames})";
                                        }
                                    }
                                    @displayName
                                </td>
                                <td>
                                    @{
                                        var checkboxId = "cb" + team.Name.Replace(' ', '_');
                                        var checkboxName = team.Id;
                                    }
                                    <input tag="teamCheckbox" type="checkbox" id="@checkboxId" name="@checkboxName" checked="checked">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <input type="submit" asp-page-handler="MakeMatches" class="matchMakerBt" id="matchMakerBt" value=" START ">
                <script>
                    var checkboxes = document.querySelectorAll("input[type='checkbox']");
                    for (var i = 0; i < checkboxes.length; i++) {
                        checkboxes[i].addEventListener("change", DisableStartButtonIfNoCheckboxIsEnabled);
                    }
                </script>
            </div>
        </div>

        @if (Model.HasProposedMatches)
        {
            <div class="instruction">The following are the most balanced matches between the given teams.</div>
            
            <h3>Proposed Matches:</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th> Home Team </th>
                        <th> Visitor Team </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in Model.ProposedMatches)
                    {
                        <tr>
                            <td> @match.HomeTeam.Name </td>
                            <td> @match.VisitorTeam.Name </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </form>
</div>