﻿@page
@model TableSoccer.Pages.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}

<div class="text-center">
    <h1 class="display-4">Statistics</h1>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script>

    function progressDataChart(label, dataset) {
        return {
            labels: label,
            datasets: dataset
        };
    }

    function FillGraph(canvasId, label, dataset) {
        var ctx1 = document.getElementById(canvasId).getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'line',
                data: progressDataChart(label, dataset),
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Points"
                    },
                    legend: {
                        onClick: (e) => e.stopPropagation()
                    },
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
    };
</script>

<div class="main">

    @if (Model.HasMatches)
    {
        <div class="tableContainer">

            <div>
                <h3>Ranking:</h3>
                <div class="table">
                    <form action="" method="post">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Team </th>
                                    <th> Points </th>
                                    <th> Played Matches </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var team in Model.Ranking())
                                {
                                    <tr>
                                        <td> @team.team.Name</td>
                                        <td> @team.points</td>
                                        <td> @team.matches</td>
                                        <td>
                                            <input type="button" value=" Stats " onclick="window.location.href = './TeamStats?id=@team.team.Id'">
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>

            <div class="statistics-details">
                <h3>General:</h3>
                @{
                    var overallStats = Model.OverallStats();
                }
                <label>Matches: @overallStats.GamesPlayed</label> <br />
                <label>Goals scored: @overallStats.GoalsScored</label> <br />
                <label>Victories: @overallStats.Victories</label><br />
                <label>Draws: @overallStats.Draws</label><br />
            </div>

            <div>
                <h3>Progresses:</h3>
                <canvas id="progressGraph" height="300" , width="300"></canvas>
                <script>
                    FillGraph("progressGraph",
                        [@Html.Raw(Model.OverallProgressDatesString)],
                        [@Html.Raw(Model.OverallDataSets())])
                </script>
            </div>

        </div>

        @if (Model.HasMatchesThisWeek)
        {
            <div class="text-center" margin="25px">
                <h1 class="display-4">Week Statistics (@Model.CurrentWeekDates)</h1>
            </div>

            <div class="tableContainer">

                <div>
                    <h3>Ranking:</h3>
                    <div class="table">
                        <form action="" method="post">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Team </th>
                                        <th> Points </th>
                                        <th> Played Matches </th>
                                        <th> Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in Model.CurrentWeekRanking())
                                    {
                                        <tr>
                                            <td> @team.team.Name</td>
                                            <td> @team.points</td>
                                            <td> @team.matches</td>
                                            <td>
                                                <input type="button" value=" Stats " onclick="window.location.href = './TeamStats?id=@team.team.Id'">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>

                </div>

                <div class="statistics-details">
                    <h3>General:</h3>
                    @{
                        var currentWeekStats = Model.CurrentWeekStats();
                    }
                    <label>Matches: @currentWeekStats.GamesPlayed</label> <br />
                    <label>Goals scored: @currentWeekStats.GoalsScored</label> <br />
                    <label>Victories: @currentWeekStats.Victories</label><br />
                    <label>Draws: @currentWeekStats.Draws</label><br />
                </div>

                <div>
                    <h3>Progresses:</h3>
                    <canvas id="currentWeekProgressGraph" height="300" , width="300"></canvas>
                    <script>
                    FillGraph("currentWeekProgressGraph",
                        [@Html.Raw(Model.CurrentWeekProgressDatesString)],
                        [@Html.Raw(Model.CurrentWeekDataSets())])
                    </script>
                </div>

            </div>
        }
    }

</div>