﻿@page
@model TableSoccer.Pages.TeamStatsModel
@{
    ViewData["Title"] = "TeamStats";
}

<div class="text-center">
    <h1 class="display-4">Statistics for '@Model.Team'</h1>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script>

    function progressDataChart(dates, points) {
        return {
            labels: dates,
            datasets: [
                {
                    label: 'Points',
                    borderWidth: 2,
                    data: points,
                    borderColor: 'rgba(120, 196, 253, 1)',
                    backgroundColor: 'rgba(120, 196, 253, 0.2)'
                }
            ]
        };

    }

    function FillGraph(canvasId, dates, points) {
        var ctx1 = document.getElementById(canvasId).getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'line',
                data: progressDataChart(dates, points),
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Points for team: @Model.Team.Name"
                    },
                    legend: {
                        onClick: (e) => e.stopPropagation()
                    },
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
    }
</script>

<div class="main">

    @if (Model.HasStats)
    {
        <div class="tableContainer">

            <div class="statistics-details">
                <h3>General:</h3>
                @{
                    var overallStats = Model.TeamStatistics;
                }
                <label>Matches: @overallStats.GamesPlayed</label> <br />
                <label>Total points: @overallStats.PointsScored</label> <br />
                <label>Goals scored: @overallStats.GoalsScored</label> <br />
                <label>Goals taken: @overallStats.GoalsTaken</label> <br />
                <label>Victories: @overallStats.Victories</label><br />
                <label>Draws: @overallStats.Draws</label><br />
                <label>Losses: @overallStats.Losses</label><br />
            </div>

            <div>
                <h3>Progresses:</h3>
                <canvas id="progressGraph" height="300" , width="300"></canvas>
                <script>
                    FillGraph("progressGraph",
                        [@Html.Raw(Model.ProgressDatesString())],
                        [@Model.ProgressPointsString()])
                </script>
            </div>

        </div>
    }

    @if (Model.HasCurrentWeekStatistics)
    {
        <div class="text-center" margin="25px">
            <h1 class="display-4">Week Statistics (@Model.CurrentWeekDates)</h1>
        </div>

        <div class="tableContainer">

            <div class="statistics-details">
                <h3>General:</h3>
                @{
                    var weeklyStats = Model.CurrentWeekTeamStatistics;
                }
                <label>Matches: @weeklyStats.GamesPlayed</label> <br />
                <label>Total points: @weeklyStats.PointsScored</label> <br />
                <label>Goals scored: @weeklyStats.GoalsScored</label> <br />
                <label>Goals taken: @weeklyStats.GoalsTaken</label> <br />
                <label>Victories: @weeklyStats.Victories</label><br />
                <label>Draws: @weeklyStats.Draws</label><br />
                <label>Losses: @weeklyStats.Losses</label><br />
            </div>

            <div>
                <h3>Progresses:</h3>
                <canvas id="latestWeekGraph" height="300" , width="300"></canvas>
                <script>
                    FillGraph(
                        "latestWeekGraph",
                        [@Html.Raw(Model.CurrentWeekProgressDatesString())],
                        [@Model.CurrentWeekProgressPointsString()])
                </script>
            </div>

        </div>
    }
</div>